@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, serif;
    background: linear-gradient(90deg, #010158 0%, #000000 100%);
}

.navbar-expand-lg {
    background: linear-gradient(270deg, #010158 0%, #000000 100%);
}

p {
    color: #557fff;
    font-size: 19px;
    filter: drop-shadow(3px 3px 3px #6355ff);
}

.nav-link {
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-link.active {
    color: rgba(148, 149, 149, 0.794)
}

.navbar-brand img {
    width: 45px;
    margin-right: 3px;
    margin-left: 3px;
}

.navbar-toggler {
    background:  linear-gradient(130deg, #0e0ea1 0%, #000000c2 100%);
    border-color: #1100f8cb;
}

.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(270deg, #010158 0%, #000000 100%);
}

.card {
    background: linear-gradient(130deg, #010158 0%, #000000 100%);
    color: rgb(255, 255, 255);
}

.card a {
    text-decoration: none;
    color: #557fff;
    filter: drop-shadow(3px 3px 3px #6355ff);
}

a {
    text-decoration: none;
    color: inherit;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #010158 0%, #000000 100%);
}
    
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text,
.footer-text {
    color: rgb(255, 255, 255);
    margin: auto auto;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.logo {
    filter: drop-shadow(3px 3px 3px #6355ff);
    text-align: center;
    position: relative;
    bottom: 170px;
    font-size: 46px
}

.block {
    margin: 1.5em;
}


.block>img {
    width: 100%;
}

@media (max-width: 800px) {
    .card {
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
}

@media (max-width: 600px) {
    .card {
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4);
    }

    .block {
        margin-inline: 0;
    }
}

.font {
    font-size: 30px;
    padding-bottom: 16px;
    text-align: center;
}

.card-title {
    font-size: 30px;
    color: #557fff;
    filter: drop-shadow(3px 3px 3px #6355ff);
}

.card-text {
    filter: drop-shadow(3px 3px 3px #6355ff);
    font-size: 20px;
    color: #557fff;
}

.basic {
    font-size: 30px;
    text-align: center;
    margin: 8px;
    padding-bottom: 8px;
}

.Border {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin-top: 90px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: linear-gradient(270deg, #010158 0%, #000000 100%);
}

.Generation {
    padding-top: 20vh;
    font-size: 70px;
    padding-bottom: 60px;
    color: #557fff;
    margin-left: 20vh;
    filter: drop-shadow(3px 3px 3px #6355ff);
}

.indent {
    padding-bottom: 40px;
    font-size: 30px;
    margin-left: 20vh;
    filter: drop-shadow(3px 3px 3px #6355ff);
    color: #557fff;
}

@media (max-width: 425px) {
    .Generation {
        padding-top: 17vh;
        font-size: 40px;
        padding-bottom: 60px;
        color: #557fff;
        margin-left: 0vh;
        filter: drop-shadow(3px 3px 3px #6355ff);
    }
    .indent {
        padding-bottom: 40px;
        font-size: 30px;
        margin-left: 0vh;
    }
}

#top {
    width: 100%;
    height: 1000px;
    background-image: url('https://images.unsplash.com/photo-1511149521648-612cb6799f07?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    color: #fff;
    font-size: 3em;
}



@media (max-width: 2560px) {
    #top {
        height: 1000px;
    }
}

@media (max-width: 1440px) {
    #top {
        height: 1590px;
    }
}

@media (max-width: 1024px) {
    #top {
        height: 1350px;
    }
}

@media (max-width: 768px) {
    #top {
        height: 1220px;
    }
}

@media (max-width: 425px) {
    #top {
        height: 1000px;
    }
}

@media (max-width: 375px) {
    #top {
        height: 1200px;
    }
}

@media (max-width: 320px) {
    #top {
        height: 1300px;
    }
}









